VITE_API_BASE_URL=http://localhost:3001/api
VITE_TRACKDOG_RECORDS_FOLDER=/Users/crimmit/Library/CloudStorage/Dropbox/Trackdog Records
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
TRACKDOG_RECORDS_FOLDER=/Users/crimmit/Library/CloudStorage/Dropbox/Trackdog Records
PORT=3001
